//IMPORT COLORS
@import './variables/colors/colors.scss';

body {
    background-image: url('../img/backgroundLp.png');
    background-size: 1350px;
}

.formula{
    background-color: $container;
    width: 430px;
}

p {
    color: white;
}

.align-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img {
    margin-top: 70px;

    img {
        width: 180px;
    }
}

label {
    color: white;
}

.qualities {
    display: flex;
}

