.bg{
   img{
    position: relative;
   } 
}
.absolute{
    position: absolute;
    top: 0;
}
.img-nav {
    width: 250px;
}

.btn{
    border: white solid 10px;
    width: 160px;
    height: 60px;
    border-radius: 0px;
}

.content{
    margin-top: 200px;
}

